*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.luken{
    
    width: 700px;
    border-style: solid;
    border-radius: 10px;
    word-wrap:break-word;
    background-color: black;
    margin:auto;
    padding: auto;
    margin-top:8%   
}
.imgluken{
    text-align: center;
}
h2,h3,p, .redes{
    
    text-align: center;
}
p, h2,h3,h4{
    color:aliceblue;
}

.fazeclan{
    border-style: solid;
    margin:auto;
    padding:auto;
    width: 900px;
    word-wrap: break-word;
    border-radius: 10px;
    background-color: black;
    margin-top:2%
}
.imgfazeclan, .videofazeclan, .imgolof, .imgguardian{
    text-align:center;
}
.astralis{
    border-style: solid;
    margin:auto;
    padding:auto;
    word-wrap:break-word;
    margin-top:2%;
    border-radius:10px;
    width:900px;
    background-color: black;
}
.imgastralis, .videoastralis, .imgglave, .imgmagisk{
    text-align: center;
}

