*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    width: 100%;
    background-color:black;
    color:black;
    padding: 20px;
    display: flex;
    font-size: large;
    
}
.menu , .submenu{
    list-style: none;
    margin: 0;
    padding:0
}
.menu{
    display: flex;
}
.menu_link{
    padding:10px;
    text-decoration: none;
    display:block;
}
.menu_item{
    background-color: black; 
}
.submenu .menu_item:hover{
    background-color: darkgrey;
}
.submenu{
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
    position: absolute;
}
.container-submenu{
    position: relative;
}
.container-submenu .menu_item:hover .menu_link{
    background-color:indigo;
}
.container-submenu:hover .submenu{
    overflow: visible;
    
}
.menu_item:hover .menu_link{
    background-color: black;
    color: azure;
}












               

