*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


nav{
    width: 100%;
    background-color:black;
    color:black;
    padding: 20px;
    display: flex;
    font-size: large;
    
}
.menu , .submenu{
    list-style: none;
    margin: 0;
    padding:0
}
.menu{
    display:flex;
}
.menu_link{
    padding:10px;
    text-decoration: none;
    display:block;
    color: rgb(114, 0, 195);
}
.menu_item{
    background-color: black; 
}
.submenu .menu_item:hover{
    background-color: darkgrey;
}

/*ACA SE DECLARA EL SUBMENU OCULTO*/
.submenu{
    height: 0;
    overflow: visible;
    transition: all 0.3s;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    
}

/*POSICION RELATIVA DE CONTAINER, DE ACA TOMA LA POSICION ABSOLUTA .SUBMENU*/
.container-submenu{
    position: relative;
}
.container-submenu .menu_item:hover .menu_link{
    background-color:indigo;
}
/*ACA SE MUESTRA EL SUBMENU CON UN HOVER*/
.container-submenu:hover .submenu{
    transition: all 0.3s;
    visibility: visible;
    opacity: 1;
    
}
.menu_item:hover .menu_link{
    background-color: black;
    color: azure;
}












               

