*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
.formInicioSesion{
    margin:auto;
    padding:auto;
    border-style: solid;
    width: 400px;
    border-radius: 8px;
    background-color: black;

    

}
b{
    color: rgb(114, 0, 195);}
p, .btnIniciarSesion{
    text-align: center;
    
}
